<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serie A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
          </ion-card-header>

          <ion-img src=""></ion-img>

          <ion-card-content>
            Football Club Internazionale Milano eller bedre kendt som Inter, 
            er en professionel italiensk fodboldklub. Klubben er grundlagt i 1908
          </ion-card-content>
        </ion-card>
        
      </ion-col>


      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
          </ion-card-header>


          <ion-img src=""></ion-img>

          <ion-card-content>
            Juventus Football Club er en fodboldklub fra Torino i Italien. Klubben har kælenavnene "Den gamle dame" og "Bianconeri". Juventus har vundet 37 italienske mesterskaber
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
          </ion-card-header>

          <ion-img src=""></ion-img>

          <ion-card-content>
            S.S. Lazio er en italiensk fodboldklub hjemmehørende i Rom og grundlagt 
            den 9. januar 1900. Klubbens hjemmebane er det Olympiske Stadion i Rom
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
          </ion-card-header>
        
          <ion-img src=""></ion-img>

          <ion-card-content>
            Associazione Calcio Milan, almindeligvis omtalt som AC Milan eller blot Milan, 
            er en professionel fodboldklub i Milano, Italien, grundlagt i 1899.
          </ion-card-content>
        </ion-card>
        
      </ion-col>

     

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
´          </ion-card-header>

          <ion-img src=""></ion-img>

          <ion-card-content>
            Società Sportiva Calcio Napoli er en italiensk fodboldklub fra Napoli, Campania, som spiler i landets 
            bedste række, Serie A. Napoli spiller i azurblå trøjer med hvide shorts
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
          </ion-card-header>
          
          <ion-img src=""></ion-img>

          <ion-card-content>
            A.S. Roma er en fodboldklub hjemmehørende i Rom med hjemmebane på det olympiske stadion, 
            Stadio Olimpico, som de deler med den anden Serie A-klub, Lazio
          </ion-card-content>
        </ion-card>
        
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
