<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>La-Liga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Atletico Madrid</ion-card-title>
          </ion-card-header>

            
          <ion-img src=""></ion-img>

          <ion-card-content>
            Club Atlético de Madrid er en fodboldklub i Spaniens hovedstad Madrid. Klubben blev stiftet i 1903 og spiller i spaniens øverste række, la liga.
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>FC Barcelona</ion-card-title>
          </ion-card-header>
        
          <ion-img src=""></ion-img>

          <ion-card-content>
            Futbol Club Barcelona, sædvanligvis kendt 
            som FC Barcelona og uformelt som Barça, er en professionel fodboldklub fra Barcelona, Catalonien, Spanien.
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Real Madrid C.F.</ion-card-title>
          </ion-card-header>

          <ion-img src=""></ion-img>

          <ion-card-content>
            Real Madrid er en spansk fodboldklub, stiftet 6. marts 1902 som Madrid FootBall Club. Den 29. juni 1920 gav kong Alfonso 13. klubben lov til at kalde sig 'kongelig',
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sevilla FC</ion-card-title>
          </ion-card-header>

          <ion-img src=""></ion-img>

          <ion-card-content>
            Sevilla Fútbol Club er en spansk fodboldklub, 
            der gennem mange år har været en fast bestanddel af toppen i den spanske liga, La Liga.
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Valencia FC</ion-card-title>
          </ion-card-header>

          
          <ion-img src=""></ion-img>

          <ion-card-content>
            Valencia CF er en spansk fodboldklub fra Valencia,
             som spiller i La Liga. Klubbens hjemmebane er Mestalla som har en kapacitet på 55.000 tilskuere.
          </ion-card-content>
        </ion-card>
        
      </ion-col>

      <ion-col  sizeSm="12" sizeMd="6" sizeLg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Villarreal CF</ion-card-title>
          </ion-card-header>

          <ion-img src=""></ion-img>

          <ion-card-content>
            Villarreal Club de Fútbol SAD, som oftest forkortes Villarreal, er en fodboldklub i Spanien, 
            Holdet er baseret i Vila-real, en mindre by tæt på Castellón de la Plana. 
          </ion-card-content>
        </ion-card>
        
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
